<html>
    <head>
        <title>Notebook</title>
        <link rel="stylesheet" type="text/css" href="/styles/built.css">
        <link rel="shortcut icon" href="/img/notebook-icon.png" />
    </head>
    <body>
        {{{body}}}
    </body>
</html>