<html>
    <head>
        <title>Notebook</title>
        <link rel="stylesheet/less" type="text/css" href="/styles/main.less">
        <script src="/client_js/less.min.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>