<form action="/notebook/{{id}}/create-entry-process" method="POST">
    <input type="text" name="title" id="title" placeholder="Entry Title"><br>
    <textarea name="text" id="entry" cols="50" rows="25" placeholder="Entry Text"></textarea><br>
    <input type="submit" value="Create">
</form>